body {
    padding: 0;
    margin: 0;
    background: #303030;
    color: #dddddd;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    background-color: #262626;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24rem;
}

input[type=text] {
    height: 3rem;
    width: 20rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

button {
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
    background-color: #aaeeaa;
    transition: all 0.2s;
}

button:hover {
    background-color: #6a9e6a;
    color: #efefef;
}

.page {
    padding: 4rem;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    margin: 1rem;
    background-color: #aaeeaa;
    color: #222222;
    padding: 1rem;
    border-radius: 0.5rem;
}
